/* Common Styles */

html, body {
	font-family: sans-serif;
	background: #efefef;
}

p {
	margin: 2px 0;
}

#wrapper {
	width: 960px;
	margin: auto;
}

/* Helper Styles */

.drop_shadow {
	box-shadow: 1px 1px 10px rgba(0, 0, 0, .2);
}

/* Header Styles */

header {
	width: 100%;
}

/* Editor Styles */

#editor_wrapper {
	background: white;
	border: 1px solid #ddd;
	padding: 10px;
}

#add_post {
	text-decoration: none;
}

#editor {
	display: none;
}

/* Post Styles */

#posts {
	width: 70%;
	float: left;
}

.post {
	background: white;
	border: 1px solid #ddd;
	margin-top: 10px;
	padding: 10px;
}

.post h1 {
	font-size: 20px;
	margin: 2px 0;
}

.post h2 {
	font-size: 15px;
	margin: 2px 0;
}

.post p {
	font-size: 14px;
	margin: 5px 0 10px 0;
}

.update_post,
.delete_post {
	text-decoration: none;
}

.update_post:hover,
.delete_post:hover {
	text-decoration: underline;
}

/* Sidebar Styles */

#sidebar {
	width: 25%;
	float: right;
	margin-top: 10px;
	background: white;
	border: 1px solid #ddd;
	padding: 10px;
}

#latest {
	padding-left: 10px;
}

#latest li {
	list-style-type: none;
}

/* Footer Styles */

footer {
	clear: both;
	width: 100%;
}